{% extends 'base.html' %}

{% block body %}
{# {% include "./includes/sidebar.html" %} #}
{% include "./includes/navbar.html" %}

{# Page content #}
<article id="page-content-wrapper">
  {% comment %}
  Define the no_page_header and page_header blocks. On pages with
  the page_header block defined, we format the header at the top
  of the page in a consistent format. If a user wants to generate
  a template that doesn't have a page header (e.g. see
  dashboard.html), they should insert

    {% block no_page_header %}{% endblock %}

  into their template.
  {% endcomment %}

  <div class="uk-container uk-margin-top">
    {% block no_page_header %}
    <div class="uk-margin-bottom">
      <h1 class="uk-article-title">
        {% block page_header %}{% endblock %}
        <hr>
      </h1>
    </div>
    {% endblock %}
    {% block page-content %}{% endblock %}
  </div>
</article>
{% endblock %}

{% block javascripts %}
{% load static %}
{{ block.super }}
<script type="application/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
