{% extends 'base.html' %}

{% block body %}
<div class="uk-flex" id="wrapper">
  {% include "./includes/sidebar.html" %}

  {# Page content #}
  <div id="page-content-wrapper">
    <div>

      {% comment %}
      Define the no_page_header and page_header blocks. On pages with
      the page_header block defined, we format the header at the top
      of the page in a consistent format. If a user wants to generate
      a template that doesn't have a page header (e.g. see
      dashboard.html), they should insert

        {% block no_page_header %}{% endblock %}

      into their template.
      {% endcomment %}

      <div class="uk-margin-left">
        {% block no_page_header %}
        <h1 class="uk-h1">{% block page_header %}{% endblock %}</h1>
        <hr>
        {% endblock %}
        {% block page-content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{% load static %}
{{ block.super }}
<script type="application/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
