{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block page_header %}Dashboard{% endblock %}

{% block page-content %}

<h2 class="uk-article-lead">Labs</h2>
{% if request.user.n_active_labs == 0 %}
<p>You don't currently have any labs running.</p>
<a href="{% url 'available labs' %}">
  <button class="uk-button" type="button">
    <span>View available labs</span>
  </button>
</a>
{% else %}
TODO
{% endif %}

<hr class="uk-article-divider">

<h2 class="uk-article-lead">Latest news</h2>
<p>{% lorem %}</p>

{% endblock %}
