{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Labs | {{ block.super }}{% endblock %}
{% block page_header %}Available labs{% endblock %}

{% block page-content %}
{% if environments|length == 0 %}

<div class="uk-panel uk-panel-box uk-container-center">
  <div class="card-body">
    <h1 class="card-title disply-3">Uh-oh!</p>
    <h3 class="card-subtitle">We couldn't find any lab environments for you to run.</h3>
    <hr>
    <p class="mt-2 lead card-text">
      Please contact your site administrator if you believe this to be an error.
    </p>
  </div>
</div>

{% else %}

<div class="uk-grid">
  {% for env in environments %}
  <div class="uk-width-1-4">
    {% include "./includes/lab_card.html" with env=env user=request.user only %}
  </div>
  {% endfor %}
</div>

{% endif %}
{% endblock %}
