{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Settings | {{ block.super }}{% endblock %}
{% block page_header %}Settings{% endblock %}

{% block page-content %}
<div class="uk-margin-top" uk-grid>
  <div class="uk-width-1-5@s">
    <ul class="uk-tab-left" uk-tab="connect: #settings_switcher">
      <li id="password_change" class="uk-active">
        <a href="#">Change password</a>
      </li>
    </ul>
  </div>

  <div class="uk-width-4-5@s">
    <ul id="settings_switcher" class="uk-switcher uk-margin">
      <li>{% include "./includes/password_change.html" %}</li>
    </ul>
  </div>
</div>
{% endblock %}
