*~
*.swp

# Python residuals
*.pyc
*.pyx
*__pycache__
*.ipynb_checkpoints
*migrations
*.pytest_cache

# Static and user-uploaded files
lawliet/static
lawliet/media
*keys

# Virtual environments
venv
virtualenv

# .env files
.env
!lawliet/.env
secrets.yml

# Database files
db.sqlite3

# Log file
*.log
