{% extends 'base.html' %}

{% comment %}
Base template for auth-related forms (e.g. login and signup).
{% endcomment %}

{% block body %}
<div class="uk-container uk-margin-top uk-width-1-3@m">

  {# Logo #}
  <a href="{% url 'index' %}">
    <h1 class="uk-h1">{% include "includes/logo.html" %}</h1>
  </a>

  {% block auth_content %}
  {% endblock %}

  {% block auth_form %}
  {% if form %}
  <form class="uk-form-horizontal" method="POST">
    {% csrf_token %}

    {% if successful_signup or form.non_field_errors %}
    <span class="">
      {% if successful_signup %}
      <div class="form-error uk-alert uk-alert-success" role="alert">
        An email has been sent. Check your inbox for further instructions.
      </div>
      {% endif %}
      {% if form.non_field_errors %}
      <div class="form-error uk-width-1-1 uk-alert uk-alert-danger" role="alert">
        Some errors occurred while you were trying to sign up.
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    </span>
    {% endif %}

    <fieldset class="uk-fieldset">
      <legend class="uk-legend">{% block form_title %}{% endblock %}</legend>
      {% for field in form %}
      <div class="uk-margin-top">
        <label for="{{ field.auto_id }}" class="uk-form-label">{{ field.label }}</label>
        <div class="uk-form-controls">
          {{ field }}
        </div>
      </div>
      {% include "includes/field_errors.html" with errors=field.errors only %}
      {% endfor %}
    </fieldset>

    <div class="uk-margin-large-top">
      <button type="submit" class="uk-width-1-1 uk-button uk-button-primary" id="signup-button">
        Submit
      </button>
    </div>
  </form>
  {% endif %}
  {% endblock %}
</div>
{% endblock %}
