<!doctype html>
{% spaceless %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Lawliet{% endblock %}</title>

    {% block head %}{% endblock %}

    <link rel="favicon" type="image/png" href="{% static 'img/favicon.png' %}" />

    {% block css %}
    {# UIkit stylesheet #}
    <link rel="stylesheet" href="{% static 'css/uikit.gradient.min.css' %}">

    {# Custom stylesheets #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}
  </head>

  {% block navbar %}{% endblock %}

  <body>
    {% block body %}{% endblock %}

    {# JavaScript #}
    {% block javascripts %}
    <script type="application/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" ></script>
    <script type="application/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
{% endspaceless %}
