<!doctype html>
{% spaceless %}
{% load static %}
{% load compress %}
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Lawliet{% endblock %}</title>

    <link rel="favicon" type="image/png" href="{% static 'img/favicon.png' %}" />

    {% comment %}
    Stylesheet block
    {% endcomment %}

    {% compress css %}
      {% block css %}
      {# UIkit stylesheet #}
      <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
      {# Custom stylesheets #}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      {% endblock %}
    {% endcompress %}

    {% comment %}
    An additional block for anything else we might want to put in the head
    {% endcomment %}

    {% block head %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    {% endblock %}
  </head>

  {% block navbar %}{% endblock %}

  <body id="body">
    {% block body %}{% endblock %}

    {# JavaScript #}
    {% block javascripts %}
    {% compress js %}
      <script
        type="text/javascript"
        src="{% static 'js/jquery-3.4.1.min.js' %}">
      </script>
      <script
        type="text/javascript"
        src="{% static 'js/uikit.min.js' %}">
      </script>
      <script
        type="text/javascript"
        src="{% static 'js/uikit-icons.min.js' %}">
      </script>
    {% endcompress %}
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
    </script>
    {% endblock %}
  </body>
</html>
{% endspaceless %}
