<h2 class="mb-4">Password reset</h2>
<div class="mb-3">
  {% if successful_pass_change %}
  <div class="alert alert-success" role="alert">
    Your password was successfully changed!
  </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {% if password_change_form.non_field_errors %}
    <span class="d-flex justify-content-center">
      <div class="form-error alert alert-danger mx-auto" role="alert">
        {% if password_change_form.non_field_errors|length == 1 %}

        <div class="text-center">
        {% for error in password_change_form.non_field_errors %}
        {{ error|escape }}
        {% endfor %}
        </div>

        {% else %}

        Unable to change password.
        {{ password_change_form.non_field_errors }}

        {% endif %}
      </div>
    </span>
    {% endif %}

    <div class="container float-left">
    {% for field in password_change_form %}
      <div class="form-group">
        {{ field }}
        {% include "includes/field_errors.html" with errors=field.errors only %}
      </div>
    {% endfor %}

      <button type="submit" class="btn btn-primary" name="password-change-submit-button" id="password-change-submit-button">
        Change password
      </button>
    </div>
  </form>
</div>
