<form method="POST">
  {% csrf_token %}
  <h2 class="mb-4">Make changes to your profile</h2>

  {% if profile_change_form.non_field_errors %}
  <span class="d-flex justify-content-center">
    <div class="form-error alert alert-danger mx-auto" role="alert">
      {% if profile_change_form.non_field_errors|length == 1 %}

      <div class="text-center">
      {% for error in profile_change_form.non_field_errors %}
      {{ error|escape }}
      {% endfor %}
      </div>

      {% else %}

      Unable to change your profile.
      {{ profile_change_form.non_field_errors }}

      {% endif %}
    </div>
  </span>
  {% endif %}

  <div class="container float-left">
    <div class="row">
      {# Profile image #}
      {% with profile_image=profile_change_form.profile_image %}
      <div class="col-4">
        <h4>{{ profile_image.label }}</h4>
      </div>

      <div class="col-6">
        {% load static %}
        {% get_media_prefix as MEDIA_PREFIX %}
        <img
          class="img-thumbnail img-fluid mb-2 profile-card-image"
          alt="User profile image"
          src="{{ MEDIA_PREFIX }}{{ user.profile.profile_image.name }}">
        <p>
        {{ profile_image }}
        {% include "includes/field_errors.html" with errors=profile_image.errors only %}
        </p>
      </div>
      {% endwith %}

      <div class="w-100"></div>

      {# Profile description #}
      {% with description=profile_change_form.description %}
      <div class="col-4">
        <h4>{{ description.label }}</h4>
      </div>
      <div class="col-6">
        {{ description }}
        {% include "includes/field_errors.html" with errors=description.errors only %}
      </div>
      {% endwith %}
    </div>

    <button
      type="submit"
      class="btn btn-primary my-4"
      name="profile-change-submit-button"
      id="profile-change-submit-button">
      Save
    </button>
  </div>
</form>
