{% comment %}
Sidebar for the dashboard
{% endcomment %}

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="accordion sidebar-wrapper" id="sidebar-wrapper">
  <div class="sidebar-heading">
    {% include "includes/logo.html" %}
  </div>

  <div class="list-group list-group-flush">

    {# User profile #}
    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action profile-card">
      {% include 'includes/profile_card.html' with user=user format="short" only %}
    </a>

    {# Lab environment access #}
    <div class="mt-1">
      <button class="btn sidebar-button text-left" type="button" data-toggle="collapse"
          data-target="#lab-menu" aria-expanded="true" aria-controls="lab-menu">
        <p class="my-2 text-monospace">Labs</p>
      </button>

      <div
          id="lab-menu"
          {% if lab_menu_show %}
          class="collapse show"
          {% else %}
          class="collapse"
          {% endif %}
          aria-labelledby="lab-menu-header"
          data-parent="#sidebar-wrapper">
        <ul class="list-group">
          {# Show labs that the user can access #}
          <a class="list-group-item list-group-item-action bg-light text-monospace" href="{% url 'available labs' %}">
            Available labs
          </a>
          {# Show what labs the user currently has running #}
          <a class="list-group-item list-group-item-action bg-light text-monospace" href="{% url 'active labs' %}">
            Active labs
          </a>
          {% if request.user.is_staff %}
          {# Upload form for new labs #}
          <a class="list-group-item list-group-item-action bg-light text-monospace" href="{% url 'upload lab' %}">
            Upload new
          </a>
          {% endif %}
        </ul>
      </div>
    </div>

    {% comment %}
    {# Scoreboard #}
    <a class="mt-1" href="{% url 'scoreboard' %}">
      <button class="btn sidebar-button text-left">
        <p class="my-2 text-monospace">Scoreboard</p>
      </button>
    </a>
    {% endcomment %}

    {# Settings #}
    <a class="mt-1" href="{% url 'user settings' %}">
      <button class="btn btn-dark sidebar-button text-left">
        <p class="my-2 text-monospace">Settings</p>
      </button>
    </a>
  </div>
</div>
