{% comment %}
"Lab card" that summarizes a lab environment on the site.
{% endcomment %}

<button type="button" class="uk-button uk-button-secondary" uk-toggle="target: #env_{{ env.id }}_modal">
  {{ env.name }}
</button>

{% comment %}
Modal that appears when the lab environment card is clicked.
{% endcomment %}
<div id="env_{{ env.id }}_modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">
        {{ env.name }}
      </h2>
    </div>
    <div class="uk-modal-body">
      {{ env.description }}
    </div>
    <div class="uk-modal-footer">
      <div uk-grid>
        <div>
          <button type="button" class="uk-button uk-button-primary" onClick="create_lab('{% url "generate lab" %}')">
            <span uk-icon="icon: play"></span>
            Start
          </button>
        </div>

        {% if user.is_staff %}
        <div>
          <button type="button" class="uk-button uk-button-primary" onClick="create_lab('{% url "generate lab" %}')">
            <span uk-icon="icon: settings"></span>
            Settings
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
