{% load static %}
<div class="uk-panel uk-panel-box uk-panel-box-primary">
  <h3 class="uk-panel-title">{{ env.name }}</h3>
  <p>{{ env.description }}</p>

  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-medium-1-3">
        <button class="uk-button" onClick="create_lab('{% url "generate lab" %}')">
          <a href="" class="uk-icon-play"></a>
        </button>
      </div>
      <div class="uk-width-medium-1-3">
        <button class="uk-button" onClick="delete_lab('{% url "generate lab" %}')">
          <a href="" class="uk-icon-stop"></a>
        </button>
      </div>
    </div>
  </div>
</div>
