<h2 class="uk-h2">Password reset</h2>
{% if successful_pass_change %}
<div class="uk-alert uk-alert-success" role="alert">
  Your password was successfully changed!
</div>
{% endif %}

<form class="uk-form" method="POST">
  {% csrf_token %}
  {% if password_change_form.non_field_errors %}
  {% include "includes/field_errors.html" with errors=password_change_form.non_field_errors only %}
  {% endif %}

  {# Display errors associated with any fields at the top of the form #}
  {% for field in password_change_form %}
  {% include "includes/field_errors.html" with errors=field.errors only %}
  {% endfor %}

  {% for field in password_change_form %}
  <div>
    {{ field }}
  </div>
  {% endfor %}

    <button type="submit" class="uk-margin-top uk-button" name="password-change-submit-button" id="password-change-submit-button">
      Change password
    </button>
  </div>
</form>
