{% comment %}
Sidebar for the dashboard
{% endcomment %}

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

<div class="uk-width-2-10 sidebar-wrapper" id="sidebar-wrapper">
  <div class="uk-margin uk-margin-top sidebar-heading">
    {% include "includes/logo.html" %}
  </div>

  <ul class="sidebar-button-list uk-nav uk-list-line uk-nav-parent-icon uk-nav-side" data-uk-nav="">

    {# Link back to dashboard #}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>

    {# Lab options #}
    <li class="uk-parent">
      <a href="#" aria-expanded="false">Labs</a>
      <ul class="uk-list-line uk-nav-sub">
        <li><a href="{% url 'available labs' %}">Available labs</a></li>
        <li><a href="{% url 'active labs' %}">Active labs</a></li>

        {% if request.user.is_staff %}
        <li><a href="{% url 'upload lab' %}">Upload new</a></li>
        {% endif %}
      </ul>
    </li>

    {# Settings #}
    <li><a href="{% url 'user settings' %}">Settings</a></li>
  </ul>
</div>
