{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block page_header %}Dashboard{% endblock %}

{% block page-content %}

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% comment %}
Display the user profile. Show details such as
- Profile image
- Username
- Current rank
{% endcomment %}
{% comment %}
<div class="jumbotron mt-3">
  {% include 'includes/profile_card.html' with user=user format="long" only %}
</div>
{% endcomment %}

<div class="mt-4" style="display: block;">
  <h3>Labs</h3>
  {% if request.user.n_active_labs == 0 %}
  <p class="lead">
    You don't currently have any labs running.
  </p>
  <a href="{% url 'available labs' %}">
    <button class="btn btn-primary" type="button">
      <span class="lead">View available labs</span>
    </button>
  </a>
  {% else %}
  TODO
  {% endif %}
</div>

<br>

<div class="my-4">
  <h3>Latest news</h3>
  {% lorem %}
</div>

{% endblock %}
