{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Dashboard | Lawliet{% endblock %}

{% block page-content %}
<h1 class="mt-4">Dashboard</h1>
<h4 class="mt-4">Latest news</h3>
<p>Latest updates about the service go here.</p>

<p>
This area will be used to give users the most recent information about the status of Lawliet. For instance: what new environments / labs have recently been uploaded? What new features have we added in the past month? How can users contribute to the project? We'll include things like links to our GitHub repositories and to our container registry, where users can upload new labs.
</p>

<ul>
  <li>Recent environments that have been added.</li>
  <li>Major feature additions.</li>
  <li>How people can contribute (donations, pull requests, etc.)</li>
</ul>

{% endblock %}
