{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{# Don't include a header at the top of the page #}
{% block no_page_header %}{% endblock %}

{% block page-content %}

{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}

{% comment %}
Display the user profile. Show details such as
- Profile image
- Username
- Current rank
{% endcomment %}
<div class="jumbotron mt-3">
  {% include 'includes/profile_card.html' with user=user format="long" only %}
</div>

<h4 class="mt-4">Latest news</h3>
<p>Latest updates about the service go here.</p>

<p>
This area will be used to give users the most recent information about the status of Lawliet. For instance: what new environments / labs have recently been uploaded? What new features have we added in the past month? How can users contribute to the project? We'll include things like links to our GitHub repositories and to our container registry, where users can upload new labs.
</p>

<ul>
  <li>Recent environments that have been added.</li>
  <li>Major feature additions.</li>
  <li>How people can contribute (donations, pull requests, etc.)</li>
</ul>

{% endblock %}
