{% extends 'base.html' %}

{% block head %}
<link
  rel="stylesheet"
  {% load static %} href="{% static 'css/simple-sidebar.css' %}">
{% endblock %}

{% block body %}
<div class="d-flex" id="wrapper">
  {% include "./includes/sidebar.html" %}

  {# Page content #}
  <div id="page-content-wrapper">
    {% include "./includes/navbar.html" %}
    <div class="mb-4 container-fluid">
      {% block page-content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{% load static %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
