.auth-form {
  max-width: 500px;
}

.lab-card {
  margin-left: 20px;
  margin-right: 20px;
}

.lab-button {
  border-width: 0.15rem;
  border-color: black;
}

.lab-action-icon {
  max-height: 1rem;
  max-width: 1rem;
}

a, a:hover, a:visited {
  text-decoration: none !important;
}

a.profile-card, a.profile-card:hover, a.profile-card:visited {
  background-color: #bbbbbb;
  text-decoration: none !important;
}

.profile-card-image {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  max-width: 60%;
  max-height: 60%;
}

.profile-card-username {
  margin: auto;
  font-family: monospace, sans-serif, arial;
  font-color: black;
}

.form-error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 768px;
  display: inline-block;
}

.errorlist {
  margin-bottom: 0rem;
}

input.remember-me {
  transform: scale(1.8);
}

/* Styling for the site logo */
.site-logo {
  font-family: lobster two, roboto, sans-serif !important;
}

/***********************************
 * CSS for dashboard sidebar
 ***********************************/
#sidebar-wrapper .sidebar-heading {
  font-size: 1.5rem;
}

.sidebar-button {
  width: 100%;
  border-radius: 0px !important;
  border-color: white !important;
}

/***********************************
 * Custom fonts
 ***********************************/
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lobster Two'), local('LobsterTwo'), url("/static/fonts/LobsterTwo/LobsterTwo.ttf") format('truetype');
}
